{
  apps : [{
    name        : "server",
    script      : "./dist/server.js",
    watch       : true,
    env_dev: {
      "NODE_ENV": "development",
    },
    env : {
      "NODE_ENV": "production",
      "AWS_ACCESS_KEY_ID": "XXXXXXXXXXXXXXXXXXXX",
      "AWS_SECRET_ACCESS_KEY": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    }
  }]
}
